<h1 mat-dialog-title>Modificación del Estudiante {{data.id}}</h1>
<div mat-dialog-content>
  <p>Datos: </p>
  <mat-form-field>
    <mat-label>DNI</mat-label>
    <input matInput [(ngModel)]="data.dni">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.nombre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput [(ngModel)]="data.apellido">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sexo</mat-label>
    <input matInput [(ngModel)]="data.sexo">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Telefono</mat-label>
    <input matInput [(ngModel)]="data.telefono">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
  </div>